<!DOCTYPE html>
<html>

<head>
  <% include partials/templates/head.ejs %>

  <!-- Custom stylesheet -->
  <link rel="stylesheet" href="/stylesheets/chatStyle.css">
</head>

<body>

<div class="container-fluid">

  <div class="header row">

    <div class="col-sm-12 logo">
      <div class="row">
        <h1 class="col-sm-12"> Chatty </h1>
      </div>
    </div> <!-- logo -->

    <div class="col-sm-12 inst">
      <p id="room-name">
        Type you messages :)
      </p>
    </div>

  </div> <!-- header -->


  <div class="row chatArea">
    <div id='names' class="col-md-2"></div> <!-- names -->
    <div id='messages' class="col-md-10"></div><!-- messages -->
  </div> <!-- chat area -->

  <div class="inputSec row">
    <div class="col-md-12">
    <input type="text" id="inputMessage" class="col-md-10">
    <button id="submit" class="col-md-2 btn btn-primary">Send</button>
    </div>
  </div>

</div> <!-- container -->

<script type="text/javascript">
  var nick = "<%- nickname %>";
  var room = "<%- room %>";
</script>

<% include partials/templates/defaultJS.ejs %>
<% include partials/templates/chatty.ejs %>

<!-- Chat script -->
<script src="/javascripts/chatServer.js"></script>

</body>

</html>
