<!DOCTYPE html>
<html>

<head>
  <% include partials/templates/head.ejs %>
</head>

<body>

<div class="container-fluid">

  <div class="chatty row">
    <div class="col-md-12">
      <div class="text-center">
        <h1>Chatty</h1>
        <p>A simple chat server</p>
      </div>
    </div>
  </div> <!-- header -->

  <div class="row chatArea">
    <div id='names' class="col-md-2"></div> <!-- names -->
    <div id='messages' class="col-md-10"></div><!-- messages -->
  </div> <!-- chat area -->

  <div class="inputSec">
    <div class="row">
    <input type="text" id="inputMessage" class="col-md-11">
    <button id="submit" class="col-md-1 btn-primary"> Send </button>
    </div>
  </div>

  <div id="info" class="row"></div>

</div> <!-- container -->

<% include partials/templates/defaultJS.ejs %>
<% include partials/templates/chatty.ejs %>

</body>

</html>
