/* maven pro*/
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);

/* oswald */
@import url(http://fonts.googleapis.com/css?family=Oswald:300);

/* ubuntu */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
  background: #272525;
}

.chatty {
  background: #272525;
  font-family: "Maven Pro";
  padding: 0.5em;
}

.chatty h1 {
  color: lightgray;
  font-size: 3em;
  padding: 0px;
  margin: 0px;
  text-shadow : 1px 1px 2px white;
}

.chatty p {
  color: gray;
  font-style: italic;
  font-size: 1.3em;
  font-weight: bold;
}

.chatArea {
  display: flex;
  height : 450px;
  /*border-radius: 1em;*/
  box-sizing : border-box;
  border-bottom: 1px lightgray solid;
  border-top: 1px lightgray solid;
}


.chatArea #names {
  font-family: "Ubuntu";
  color : black;
  background: gray;
  padding-top: 1em;
  padding-bottom: 1em;
  border-right: 1px lightgray solid;
}

.chatArea #messages {
  /*border-radius: 1em;*/
  background: lightgray;

  border-left: 1px lightgray solid;
  overflow-y: auto;
  word-wrap : break-word;
}

#messages .messageRow {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

#messages .messageRow:nth-child(odd) {
  background: darkgray;
}

#messages .messager {
  font-family: "Oswald";
  color : #272525;
}

#messages .message {
  color : black;
}


.inputSec {
  position: fixed;
  bottom: 0px;
  width: 100%;
}


/*
.inputSec #inputMessage {
  width: 85%;
  box-sizing : border-box;
}

.inputSec #submit {
  width: 15%;
  box-sizing : border-box;
}